.wrapper {
  margin: auto;
  width: 55%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font: normal 11px/11px 'GothamPro-Medium';
  padding-top: 25px;
}

.burger{
  display: none;
}

.logo {
  background: no-repeat url(img/logo.svg);
  width: 65px;
  height: 55px;
  margin-right: 35px;
}

.lang {
  margin-left: 0;
  margin-right: 0;
  width: 20px;
  height: 20px;
  background: url(img/lang.svg);
  margin-left: 35px;
}

.menu {
  margin-right: 150px;
}

.menu__item {
  padding-right: 36px;
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}

.client {
  display: inline-flex;
}

.client__item {
  padding-right: 25px;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item:hover,
.client__item:hover {
  opacity: 0.5;
}

.circle {
  text-align: center;
  width: 15px;
  height: 15px;
  color: #fff;
  font-size: 10px;
  background: #000;
  border-radius: 50%;
  line-height: 15px;
}

.search {
  position: relative;
  margin-right: 35px;
  padding-left: 0px;
  width: 178px;
  background: #fff;
  border-bottom: 1px solid #808080;
}

.search__box,
.search-btn {
  border: none;
  outline: none;
  background: transparent;
}

.search__box {
  width: 100%;
  height: 25px;
  padding-left: 15px;
}

.search-btn {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search-btn :before {
  content: "\f178";
  font-family: 'GothamPro-Light';
  font-size: 20px;
  color: #be290e;
}

.advert {
  height: 280px;
  background: no-repeat url(img/modul1.png);
  background-size: cover;
  text-transform: uppercase;
}

.advert__tittle {
  width: 195px;
  padding-top: 90px;
  margin-left: 60px;
  margin-bottom: 15px;
  font: bold 30px/29px 'GothamPro-Bold';
  color: #fff;
}

.advert__btn {
  position: relative;
  margin-left: 60px;
  text-decoration: none;
  font: normal 12px/11px 'GothamPro';
  color: #fff;
  transition: 0.5s;
}

.advert__btn:hover {
  opacity: 0.5;
}

.advert__btn::after {
  position: absolute;
  display: inline-block;
  content: ' ';
  border: solid #fff;
  border-width: 0 1.5px 1.5px 0;
  padding: 3px;
  transform: rotate(-45deg);
  margin-top: 4px;
  margin-left: 56px;
}

.advert__btn::before {
  position: absolute;
  display: inline-block;
  content:"";
  position: absolute;
  width: 42px;
  height: 0;
  border: 0.5px solid #fff;
  margin-top: 7px;
  margin-left: 90px;
}

.products__title {
  display: flex;
  justify-content: center;
  font: normal 15px/16px 'GothamPro-Bold';
  text-transform: uppercase;
  padding-top: 36px;
}

.product__wrap{
display: flex;
flex-direction: row;
font: 8px/10px 'GothamPro-Light';
margin-bottom: 35px;
}

.products__black,
.products__camel,
.products__grey,
.products__blue {
  padding-right: 65px;
  padding-left: 30px;
}

.products__black_title,
.products__camel_title,
.products__grey_title,
.products__blue_title {
  padding-top: 22px;
}

.products__black_price,
.products__camel_price,
.products__grey_price,
.products__blue_price {
  position: relative;
  font: 14px/4px 'GothamPro-Bold';
}

.color{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 135px;
  margin-top: -25px;
}

.color__white1,
.color__red1 {
  display: none;
}

.color__white,
.color__black,
.color__red,
.color__camel,
.color__grey,
.color__bluedark,
.color__blue,
.color__yellow {
  border: 2px solid #fff;
  margin-right: 5px;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  transition: 0.5s;
}

.color__white {
  background: #c4c4c4;
}

.color__black {
  background: #0e1211;
  width: 9px;
  height: 9px;
}

.color__red {
  background: #b62e3c;
}

.color__yellow {
  background: #fbB431;
}

.color__camel {
  background: #e29d69;
  width: 9px;
  height: 9px;
}

.color__grey {
  background: #762e31;
  width: 9px;
  height: 9px;
}

.color__bluedark {
  background: #41479b;
}

.color__blue {
  background: #257dA9;
  width: 9px;
  height: 9px;
}

.color__white:hover,
.color__black:hover,
.color__red:hover,
.color__camel:hover,
.color__grey:hover,
.color__bluedark:hover,
.color__blue:hover,
.color__yellow:hover {
  width: 9px;
  height: 9px;
}

.video {
  max-width: 100%;
  box-sizing: border-box;
  height: 500px;
  background: #000;
  margin-bottom: 60px;
}

.video__wrap {
  float: right;
  margin-right: 47px;
  margin-top: 139px;
}

.video__title {
  width: 265px;
  font: normal 22px/27px 'GothamPro-Medium';
  color: #fff;
  text-transform: uppercase;
}

.video__description {
  width: 266px;
  font: normal 14px/17px 'GothamPro-Light';
  color: #fff;
}

.video__description_btn{
  position: relative;
  font: normal 12px/11px 'GothamPro';
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.video__description_btn::after {
  position: absolute;
  display: inline-block;
  content: ' ';
  border: solid #fff;
  border-width: 0 1.5px 1.5px 0;
  padding: 3px;
  transform: rotate(-45deg);
  margin-top: 4px;
  margin-left: 43px;
}

.video__description_btn:hover {
  opacity: 0.5;
}

.video__description_btn::before {
  position: absolute;
  display: inline-block;
  content:"";
  width: 42px;
  height: 0;
  border: 0.5px solid #fff;
  margin-top: 7px;
  margin-left: 90px;
}

.video__content_img {
  margin-top: 71px;
  margin-left: 39px;
  width: 628px;
  height: 345px;
  border: 8px solid rgba(255, 255, 255, 0.8);
}

.story__title {
 display: flex;
 justify-content: center;
 font: normal 15px/16px 'GothamPro-Bold';
 text-transform: uppercase;
}

.story__first_img,
.story__second_img,
.story__third_img {
  width: 307px;
  height: 147px;
  margin-bottom: 15px;
}

.story__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
}

.story__first_title,
.story__second_title,
.story__third_title {
  font: normal  18px/17px 'GothamPro-Medium';
  margin-bottom: 6px;
}

.story__first_text,
.story__second_text,
.story__third_text {
  font: normal  14px/17px 'GothamPro-Light';
  width: 302px;
  margin-bottom: 10px;
}

.story__first_btn,
.story__second_btn,
.story__third_btn {
  position: relative;
  font: normal  12px/11px 'GothamPro-Medium';
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}

.story__first_btn::after,
.story__second_btn::after,
.story__third_btn::after {
  position: absolute;
  display: inline-block;
  content: ' ';
  border: solid #000;
  border-width: 0 1.5px 1.5px 0;
  padding: 1px;
  transform: rotate(-45deg);
  margin-top: 4px;
  margin-left: 35px;
}

.story__first_btn::before,
.story__second_btn::before,
.story__third_btn::before {
  position: absolute;
  display: inline-block;
  content:"";
  position: absolute;
  width: 25px;
  height: 0;
  border: 0.5px solid #000;
  margin-top: 5px;
  margin-left: 95px;
}

.story__first_btn:hover,
.story__second_btn:hover,
.story__third_btn:hover{
  opacity: 0.5;
}

.story__first_date,
.story__second_date,
.story__third_date {
  color: #808080;
  font: normal  12px/11px 'GothamPro-Medium';
  padding-left: 160px;
}

.gallery__img{
  padding-top: 75px;
  margin-bottom: 80px;
}

.gallery__img_txt {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0px;
  font: normal 18px/17px 'GothamPro-Medium';
  color: #808080;
  text-transform: uppercase;
}

.gallery__img1,
.gallery__img2,
.gallery__img3,
.gallery__img4,
.gallery__img5,
.gallery__img6,
.gallery__img7 {
  width: 147px;
  right: 0;
  left: 0;
}

.gallery__img8 {
  display: none;
}

.footer {
  box-sizing: border-box;
  height: 296px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.account,
.service,
.other,
.sing-up {
  display: inline-grid;
  padding-top: 60px;
  padding-left: 32px;
}

.account {
  padding-right: 75px;
}

.service {
  padding-right: 35px;
}

.other {
  padding-right: 35px;
}

.account__title,
.service__title,
.other__title,
.sing-up__title {
  font: normal 12px/11px'GothamPro-Medium';
}

.sing-up__title {
  margin-bottom: 4px;
}

.sing-up__icons{
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  margin-left: 15px;
}

.sing-up__txt {
  margin-top: 0px;
  font: normal 12px/18px 'GothamPro-Light';
  margin-bottom: 8px;
}

.sing-up__btn {
  text-decoration: none;
  border: 1px solid #fff;
  width: 136px;
  padding: 9px 0px;
  color: #fff;
  font: normal 10px/9px 'GothamPro-Light';
  text-align: center;
  margin-bottom: 30px;
  margin-left: 15px;
}

.account__item,
.service__item,
.other__item {
  text-decoration: none;
  color: #fff;
  font: normal 12px/18px 'GothamPro-Light';
  transition: 0.5s;
}

.account__item:hover,
.service__item:hover,
.other__item:hover,
.sing-up__item:hover {
  border-bottom: 2px solid #fff;
}

.end__txt {
  font: normal 12px/11px 'GothamPro-Light';
  display:flex;
  justify-content: center;
  padding-top: 45px;
}

.footer__wrap {
  width: 55%;
  margin: auto;
}

@media (max-width: 1366px) {

  .wrapper {
    width: 77%;
  }

  .footer__wrap {
    width: 65%;
  }
}

@media (max-width: 1170px) {

  .wrapper {
    width: 90%;
  }

  .header  {
    display: flex;
    flex-direction: row;
  }

  .logo  {
    margin-right: 35px;
  }

  .search {
    margin-right: 35px;
  }

  .menu {
    margin-right: 195px;
  }

  .menu__item:last-child {
    padding-right: 0px;
  }

  .client__item {
    padding-right: 23px;
  }

  .lang {
    margin-left: 35px;
  }

  .footer__wrap {
    width: 70%;
    margin: auto;
  }

  .story__second_title,
  .story__first_title,
  .story__third_title {
    margin-bottom: 0px;
    margin-top: 15px;
  }

  .account,
  .service,
  .other,
  .sing-up {
    padding-top: 50px;
  }

  .account,
  .service {
    padding-left: 20px;
    padding-right: 89px;
  }

  .account {
    padding-right: 89px;
  }

  .service {
    padding-right: 70px;
  }

  .other {
    padding-left: 0px;
    padding-right: 40px;
  }

  .end__txt {
    padding-top: 30px;
  }

  .sing-up__icons {
    margin-left: -30px;
  }

  .sing-up__btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
   .wrapper {
     width: 92%;
   }

   .header {
     margin-bottom: 43px;
   }

   .menu {
     margin-right: 150px;
   }

   .menu__item {
     padding-right: 35px;
   }

   .search {
     margin-right: 20px;
     width: 160px;
   }

   .client__item {
     padding-right: 25px;
   }

   .client__item:last-child {
     padding-right: 0px;
   }

   .circle {
     margin-left: 125px;
   }

   .lang {
     margin-left: 21px;
   }

   .logo {
     margin-right: 20px;
     background-size: 90%;
   }

   .menu__item {
     padding-right: 35px;
   }

   .circle{
     margin-left: 0px;
   }

   .advert {
     height: 252px;
   }

   .advert__tittle {
     padding-top: 75px;
     margin-left: 54px;
     margin-bottom: 5px;
   }

   .advert__btn {
     margin-left: 54px;
   }

   .products__title {
     padding-top: 50px;
   }

   .products__black,
   .products__camel,
   .products__grey,
   .products__blue {
     padding-right: 60px;
     padding-left: 10px;
   }

   .products__black_title,
   .products__camel_title,
   .products__grey_title,
   .products__blue_title {
     padding-top: 15px;
     font: normal 12px/11px 'GothamPro-Light';
    }

    .products__black_title,
    .products__camel_title {
       padding-top: 15px;
    }

    .products__grey_title,
    .products__blue_title {
      padding-top: 7px;
    }

    .products__blue_title {
      margin-bottom: 5px;
    }

    .color {
      padding-left: 130px;
    }

    .product__wrap {
      margin-bottom: 68px;
    }

    .video {
      height: 442px;
      margin-bottom: 80px;
    }

    .video__content_img {
      width: 563px;
      height: 309px;
      margin-left: 30px;
      margin-top: 62px;
    }

    .video__wrap {
      margin-right: 20px;
      margin-top: 117px;
    }

    .video__title {
      margin-bottom: 5px;
    }

    .video__description {
      width: 248px;
      font: normal 13px/16px 'GothamPro-Light';
      text-align: justify;
      margin-bottom: 10px;
    }

    .story__first_img,
    .story__second_img,
    .story__third_img {
      width: 277px;
      margin-bottom: 12px;
    }

    .story__first,
    .story__second,
    .story__third {
      padding-right: 47px;
      margin-bottom: 20px;
    }

    .story__first_title,
    .story__second_title,
    .story__third_title {
      line-height: 15px;
      margin-bottom: 0px;
    }

    .story__first_text,
    .story__second_text,
    .story__third_text {
      width: 277px;
      font: normal 13px/16px 'GothamPro-Light';
      margin-bottom: 15px;
    }

    .story__first_btn::after,
    .story__second_btn::after,
    .story__third_btn::after {
      padding: 1px;
      transform: rotate(-45deg);
      margin-top: 7px;
      margin-left: 27px;
    }

    .story__first_btn::before,
    .story__second_btn::before,
    .story__third_btn::before {
      width: 25px;
      height: 0;
      border: 0.5px solid #000;
      margin-top: 8px;
      margin-left: 87px;
    }

    .story__first_date,
    .story__second_date,
    .story__third_date {
      padding-left: 215px;
      display: flex;
      justify-content: flex-end;
      margin-top: -15px;
    }

    .gallery__img1,
    .gallery__img2,
    .gallery__img3,
    .gallery__img4,
    .gallery__img5,
    .gallery__img6,
    .gallery__img7 {
      width: 132px;
      height: 132px;
      padding-bottom: 25px;
    }

    .footer__wrap {
      width: 80%;
      margin: auto;
    }

    .account {
      padding-left: 20px;
    }

    .account,
    .service,
    .other,
    .sing-up {
      padding-top: 40px;
    }

    .sing-up__btn {
      margin-bottom: 15px;
    }

    .end__txt {
      padding-top: 35px;
    }
}

@media (max-width: 768px) {

   .wrapper {
     width: 100%;
   }

   .header {
     padding-top: 35px;
   }

   .burger {
     display: block;
     width: 60px;
     margin-right: 35px;
   }

   .burger :first-child {
      margin: 0 0 8px;
   }

   .burger__line {
    display: block;
    width: 60px;
    height: 9px;
    background: #000;
  }

  .menu,
  .search,
  .client,
  .lang {
    display: none;
  }

  .logo {
    background: url(img/logo2.svg);
    width: 160px;
    height: 33px;
    margin-left: 35px;
    margin-right: 450px;
  }

  .advert {
    background: url(img/modul2.png);
    width: 100%;
    height: 415px;
    margin-bottom: 0px;
  }

  .advert__tittle{
    width: 355px;
    padding-top: 125px;
    margin-left: 45px;
    margin-bottom: 55px;
    font: bold 50px/47px 'GothamPro-Bold';
  }

  .advert__btn {
    font: normal 20px/19px 'GothamPro';
    margin-left: 45px;
  }

  .advert__btn::after {
    margin-left: 67px;
  }

  .advert__btn::before {
    width: 60px;
    margin-left: 130px;
  }

  .product__wrap {
    margin-bottom: 0px;
  }

  .products__grey,
  .products__blue {
    display: none;
  }

  .products__title {
    font: normal 20px/28px 'GothamPro-Bold';
  }

  .products__title_text {
    margin-top: 0px;
  }


  .products__black_img,
  .products__camel_img {
    width: 229px;
    height: 233px;
  }

  .products__black,
  .products__camel {
    margin-top: 0px;
    padding-right: 20px;
    margin-left: 65px;
  }

  .products__black_title,
  .products__camel_title {
    margin-top: 25px;
    padding-top: 0px;
    font: normal 20px/15px 'GothamPro-Medium';
    width: 265px;
  }

  .products__black_price,
  .products__camel_price {
    font: normal 25px/23px 'GothamPro-Bold';
  }

  .color {
    padding-left: 155px;
    margin-top: -45px;
  }

  .color__red,
  .color__white {
    display: none;
  }

  .color__white1,
  .color__red1 {
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    margin-right: 5px;
    border-radius: 50%;
  }

  .color__white1 {
    background: #c4c4c4;
  }

  .color__red1 {
    background: #b62e3c;
  }

  .color__white1,
  .color__black,
  .color__red1,
  .color__camel,
  .color__yellow {
    width: 20px;
    height: 20px;
  }

  .video {
    clip-path: polygon(0 5%, 100% 10%, 100% 100%,0 100%);
    margin-bottom: -1px;
    height: 700px;
  }

  .video__wrap {
    float: none;
    margin-top: 0px;
    padding: 40px;
  }

  .video__title {
    width: 100%;
    padding-top: 40px;
    padding-left: 10px;
    font: normal 30px/37px 'GothamPro-Medium';
    text-align: center;
    margin-bottom: 10px;
  }

  .video__description {
    width: 682px;
    font: normal 20px/24px 'GothamPro-Light';
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .video__content_img {
    width: 681px;
    height: 373px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .video__description_btn {
    display: none;
  }

  .story {
    background-color: #000;
    color: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 100%,0 98%);
    height: 920px;
  }

  .story__third {
    display: none;
  }

  .story__title {
    padding-top: 65px;
    font: normal 20px/24px 'GothamPro-Light';
    margin-bottom: 0px;
  }

  .story__title_text {
    margin-top: 0px;
  }

  .story__first_img,
  .story__second_img {
    width: 312px;
    height: 165px;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .story__wrap {
    padding-left: 35px;
  }

  .story__first,
  .story__second {
    padding-right: 55px;
    padding-bottom: 0px;
  }

  .story__first_title,
  .story__second_title {
    font: normal 25px/23px 'GothamPro-Medium';
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .story__first_text,
  .story__second_text {
    font: normal 20px/24px 'GothamPro-Light';
    width: 312px;
    margin-top: 0px;
    margin-bottom: 45px;
  }

  .story__first_btn,
  .story__second_btn {
    font: normal  20px/19px 'GothamPro-Medium';
    color: #fff;
  }

  .story__first_btn::after,
  .story__second_btn::after {
    border: solid #fff;
    border-width: 0 1.5px 1.5px 0;
    padding: 4px;
    margin-top: 5px;
    margin-left: 53px;
  }

  .story__first_btn::before,
  .story__second_btn::before {
    border: 0.5px solid #fff;
    margin-top: 9px;
    width: 46px;
    margin-left: 155px;
  }

  .story__first_date,
  .story__second_date {
    margin-top: -15px;
    font-size: 15px;
    line-height: 14px;
    padding-left: 220px;
  }

  .gallery {
    position: absolute;
    margin-left: 44px;
    margin-top: -250px;
  }

  .gallery__img_txt {
    display: block;
    padding-left: 360px;
    font: normal 30px/28px 'GothamPro-Medium';
    margin-bottom: 15px;
  }

  .gallery__img1,
  .gallery__img2,
  .gallery__img3,
  .gallery__img4,
  .gallery__img5,
  .gallery__img6,
  .gallery__img7,
  .gallery__img8 {
    display: inline-grid;
    width: 170px;
    height: 170px;
    padding-bottom: 0px;
    margin-top: -5px;
  }

   .footer {
     margin-top: 330px;
  }
   .footer__wrap {
     width: 95%;
  }

   .account,
   .other {
     padding-top: 50px;
     padding-right: 30px;
  }

  .service {
    padding-right: 65px;
  }

  .account {
    padding-left: 25px;
  }

  .sing-up {
    width: 155px;
    padding-left: 35px;
  }

  .sing-up__txt {
     margin-bottom: 0px;
  }

  .sing-up__btn {
     margin-left: 0px;
     padding: 8px 0px;
     margin-bottom: 15px;
  }

  .sing-up__icons {
      margin-left: -25px;
  }

  .end__txt {
    margin-top: 15px;
  }
}

@media (max-width: 375px) {

  .header {
    padding-top: 15px;
    margin-bottom: 15px;
  }

  .logo {
    width: 104px;
    background-repeat: no-repeat;
    background-size: 95%;
    margin-left: 39px;
    margin-right: 135px;
  }

  .burger {
    width: 41px;
  }

  .burger :first-child {
    margin: 0 0 6px;
  }

  .burger__line {
    width: 41px;
    height: 5px;
  }

  .advert {
    height: 191px;
    background-size: cover;
  }

  .advert__tittle {
    font-size: 20px;
    line-height: 19px;
    width: 206px;
    padding-top: 65px;
    margin-bottom: 15px;
  }

  .advert__btn {
    font-size: 12px;
    line-height: 11px;
  }

  .advert__btn::after {
    border-width: 0 1.5px 1.5px 0;
    padding: 3px;
    transform: rotate(-45deg);
    margin-top: 4px;
    margin-left: 44px;
  }

  .advert__btn::before {
    width: 45px;
    height: 0;
    border: 0.5px solid #fff;
    margin-top: 7px;
    margin-left: 75px;
  }

  .products__title {
    padding-top: 35px;
    font-size: 13px;
    line-height: 16px;
  }

  .products__camel {
    display: none;
  }

  .products__black_img {
    padding-left: 30px;
    width: 162px;
    height: 165px;
  }

  .products__black_title {
    font-size: 15px;
    line-height: 14px;
    margin-top: 0px;
  }

  .products__black_price {
    margin-top: 0px;
    font-size: 20px;
    line-height: 19px;
  }

  .color {
    padding-left: 150px;
    margin-top: -45px;
  }

  .color__white1,
  .color__black,
  .color__red1,
  .color__yellow {
    width: 15px;
    height: 15px;
  }

  .video {
    clip-path: polygon(0 7%, 100% 10%, 100% 100%,0 100%);
    height: 450px;
  }

  .video__wrap {
    padding-top: 0px;
  }

  .video__title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 75px;
    margin-bottom: 17px;
  }

  .video__description {
    font-size: 14px;
    line-height: 17px;
    width: 281px;
    margin-bottom: 0px;
  }

  .video__content_img {
    width: 276px;
    height: 151px;
    border: 4px;
  }

  .story {
    height: 855px;
  }

  .story__title {
    padding-top: 65px;
  }

  .story__title_text {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .story__second {
    display: none;
  }

  .story__first_img {
    width: 279px;
    height: 148px;
    margin-bottom: 13px;
  }

  .story__first_title {
    font-size: 20px;
    line-height: 19px;
  }

  .story__first_text {
    font-size: 14px;
    line-height: 17px;
    width: 279px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .story__first_btn {
    font-size: 12px;
  }

  .story__first_btn::after,
  .story__second_btn::after {
    padding: 2px;
    margin-top: 7px;
    margin-left: 50px;
  }

  .story__first_btn::before,
  .story__second_btn::before {
    width: 39px;
    margin-left: 100px;
  }

  .story__first_date {
    font-size: 15px;
    padding-left: 200px;
  }

  .gallery {
    width: 280px;
    margin-top: -350px;
  }

  .gallery__img_txt {
    padding-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    padding-left: 0px;
    color: #E8E8E8;
  }

  .gallery__img_wrap {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 140px 140px;
  }

  .gallery__img1,
  .gallery__img2,
  .gallery__img3,
  .gallery__img5,
  .gallery__img6,
  .gallery__img7 {
    width: 140px;
    height: 140px;
  }

  .gallery__img7 {
    order: 4;
  }

  .gallery__img6 {
    order: 3;
  }

  .gallery__img5 {
    order: 5;
  }

  .gallery__img3 {
    order: 6;
  }

  .gallery__img2 {
    order: 2;
  }

  .gallery__img1 {
    order: 1;
  }

  .gallery__img8,
  .gallery__img4 {
    display: none;
  }

  .footer {
    height: 898px;
    margin-top: 260px;
  }

  .footer__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
  }

  .account__title,
  .service__title,
  .other__title,
  .sing-up__title {
    font-size: 15px;
  }

  .account__item,
  .service__item,
  .other__item,
  .sing-up__item {
    font-size: 15px;
    line-height: 20px;
  }

  .account {
    order: 1;
    padding-top: 30px;
  }

  .service {
    order: 3;
    padding-top: 35px;
    padding-left: 50px;
  }

  .other {
    order: 2;
    padding-top: 65px;
    padding-left: 15px;
  }

  .other__title {
    margin: 0px;
  }

  .sing-up {
    order: 4;
    width: 55%;
    padding-left: 75px;
    padding-top: 30px;
  }

  .end {
    order: 5;
  }

  .sing-up__txt {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .sing-up__btn {
    font-size: 12px;
    padding: 13px 5px;
    margin-left: 20px;
    margin-bottom: 90px;
  }

  .sing-up__icons {
    font-size: 150%;
    margin-left: -35px;
  }

  .end__txt {
    padding-top: 0px;
    font-size: 13px;
    margin-top: 15px;
  }
}

@media (max-width: 320px) {

  .logo {
    margin-left: 15px;
  }

  .burger {
    margin-right: 15px;
  }

  .advert {
    background: url(img/modul3.png);
    height: 190px;
  }

  .advert__tittle {
    margin-left: 15px;
  }

  .advert__btn {
    margin-left: 15px;
  }

  .products__title {
    font-size: 13px;
    line-height: 19px;
  }

  .products__title_text {
    margin-bottom: 0px;
  }

  .product__wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .products__black {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 15px;
  }

  .products__black_img {
    padding-left: 50px;
    margin-bottom: 15px;
  }

  .products__black_title {
    margin-bottom: 10px;
  }

  .products__black_price {
    margin-bottom: 0px;
  }

  .color {
    margin-top: -25px;
    padding-left: 190px;
  }

  .color__white1,
  .color__black,
  .color__red1,
  .color__yellow {
    margin-right: 2px;
  }

  .video__wrap {
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .video__description {
    line-height: 18px;
  }

  .video__content_img {
    margin-left: 15px;
  }

  .story__title {
    padding-top: 55px;
  }

  .story__wrap {
    padding-left: 10px;
  }

  .story__first_img {
    margin-bottom: 17px;
  }

  .story__first_text {
    margin-bottom: 25px;
  }

  .gallery__img {
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .gallery__img_txt {
    padding-top: 20px;
    margin: 0px;
  }

  .gallery {
    margin-left: 0px;
    padding-left: 15px;
    margin-top: -300px;
  }
  .footer {
    margin-top: 260px;
  }

  .account__item,
  .sing-up__item {
    line-height: 22px;
  }

  .other {
    padding-top: 50px;
  }

  .other__title {
    margin-bottom: 5px;
  }

  .other__item {
    line-height: 21px;
  }

  .service {
    padding-top: 30px;
  }

  .service__item {
    line-height: 22px;
  }

  .service__title {
    margin-bottom: 0px;
  }

  .sing-up {
    width: 70%;
    padding-left: 45px;
    padding-top: 25px;
  }

  .sing-up__btn {
    margin-bottom: 90px;
  }

  .sing-up__icons  {
    margin-left: -20px;
  }

  .end__txt {
    margin-top: 10px;
  }
}
